
.aboutus-sec{
  background: linear-gradient(90deg, rgba(148,219,149,1) 0%, rgba(237,255,0,1) 58%,rgba(230,133,81,1) 100%);
  text-align: start;
  padding: 20px;
}
.slider-sec:first-child{
    filter : opacity(0.75) drop-shadow(2px 4px 6px black);
}
.aboutus-sec p,
.aboutus-sec h1{
    padding: 15px;
}
.card-sec{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 80px;
}
.card-sec img{
    width: 150px;
    height: 160px;
}